* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 1.5em;
}

.error-container {
  margin: auto;
  padding: 0 5%;
  width: fit-content;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
